{% extends "base.html" %}
{% load static %}
{% load tailwind_filters %}
{% block content %}
    <div class="bg-white rounded-lg shadow sm:max-w-md sm:w-full sm:mx-auto sm:overflow-hidden mt-9">
        <div class="px-4 py-8 sm:px-10">
            <div class="heading text-center font-bold text-2xl m-5 text-gray-800">New Section</div>
            <form method="post" class="mt-5">
                {% csrf_token %}
                {{ form|crispy }}
                <button type='submit'
                        class="mt-4 w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Submit</button>
            </form>
            <a href="{% url 'courses:section-detail' section.course.pk section.pk %}">
                <button class="mt-4 w-full text-white bg-gray-500 hover:bg-gray-600 px-3 py-2 rounded-md">Back</button>
            </a>
            </ul>
        </div>
    </div>
{% endblock %}

{#{% endblock content %}#}
