{% extends "base.html" %}
{% block content %}
    <body class="bg-gray-100">
        <main class="container mx-auto py-8">
            <div class="max-w-2xl mx-auto">
                <h1 class="text-3xl font-bold text-center mb-8">{{ task.title }}</h1>
                <div class="prose max-w-none">{{ task.description|safe }}</div>
                {% comment %} Video in article {% endcomment %}
                {% comment %} <div class="md:w-1/2">
                <div class="max-w-2xl mx-auto">
                    <br>
                    <div class="video-container mb-4">
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/VIDEO_ID_HERE" title="Video Title" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                </div> {% endcomment %}
                <div class="flex items-center mt-7">
                    <div>
                        <a href="{% url 'courses:course-task-detail' section.id task.slug %}">
                            <button class="bg-green-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-green-400 mr-4">
                                Mark as complete
                            </button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'courses:course-task-detail' section.id task.slug %}">
                            <button class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-400">Give feedback</button>
                        </a>
                    </div>
                </div>
                {% comment %} contributor block {% endcomment %}
                {% comment %} <div class="flex items-center justify"></div>
                <div class="bg-gray-200 rounded p-4 mt-8">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <img src="https://via.placeholder.com/50" alt="Author Name" class="rounded-full mr-4">
                            <div>
                                <p class="font-bold">{{ task.owner|title }}</p>
                                <p class="text-gray-600">{{ task.owner.role|title }}</p>
                            </div>
                        </div>
                        <div class="flex items-center">
                            <div class="mr-4 flex items-center mr-5">
                                <svg class="w-5 h-5 text-gray-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M17.06 2.94a8 8 0 11-11.32 0L10 6.34l1.06-1.06a6 6 0 108.48 0l.01-.01z" clip-rule="evenodd">
                                    </path>
                                </svg>
                                <span class="text-gray-600">10,000</span>
                            </div>
                            <div class="mr-4 flex items-center mr-5">
                                <svg class="w-5 h-5 text-gray-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10 18l-8-6V2h16v10.38l-2-1.5V4h-12v8.88l-2 1.5V12l6 4.5 6-4.5v1.88l-2 1.5V18z"></path>
                                </svg>
                                <span class="text-gray-600">5,000</span>
                            </div>
                            <div class="flex items-center mr-5">
                                <svg class="w-5 h-5 text-gray-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M3 3a1 1 0 011-1h12a1 1 0 011 1v7a1 1 0 01-1 1h-1v2a2 2 0 01-2 2H8a2 2 0 01-2-2v-2H4a1 1 0 01-1-1V3zm2 1v5h2V5h10v5h2V5a1 1 0 00-1-1H6a1 1 0 00-1 1zm4 7h4v2H9v-2z">
                                    </path>
                                    <path d="M5 15a2 2 0 012-2h6a2 2 0 110 4H7a2 2 0 01-2-2zm2 0a1 1 0 100 2h2a1 1 0 100-2H7z"></path>
                                </svg>
                                <span class="text-gray-600">March 1, 2023</span>
                            </div>
                            <div class="flex items-center ">
                                <svg class="w-5 h-5 text-gray-500 mr-1" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M3 3a1 1 0 011-1h12a1 1 0 011 1v7a1 1 0 01-1 1h-1v2a2 2 0 01-2 2H8a2 2 0 01-2-2v-2H4a1 1 0 01-1-1V3zm2 1v5h2V5h10v5h2V5a1 1 0 00-1-1H6a1 1 0 00-1 1zm4 7h4v2H9v-2z">
                                    </path>
                                    <path d="M5 15a2 2 0 012-2h6a2 2 0 110 4H7a2 2 0 01-2-2zm2 0a1 1 0 100 2h2a1 1 0 100-2H7z"></path>
                                </svg>
                                <span class="text-gray-600">March 1, 2023</span>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} discussion {% endcomment %}
                <section class="not-format mt-20">
                    <div class="flex justify-between items-center mb-6">
                        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion (20)</h2>
                    </div>
                    <form class="mb-6">
                        <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
                            <label for="comment" class="sr-only">Your comment</label>
                            <textarea id="comment"
                                      rows="6"
                                      class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 dark:text-white dark:placeholder-gray-400 dark:bg-gray-800 focus:outline-0"
                                      placeholder="Write a comment..."
                                      required></textarea>
                        </div>
                        <button type="submit"
                                class="inline-flex items-center bg-blue-500 text-white py-2 px-4 rounded-lg shadow-md hover:bg-blue-400">
                            Post comment
                        </button>
                    </form>
                    <article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                    <img class="mr-2 w-6 h-6 rounded-full"
                                         src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
                                         alt="Michael Gough">
                                    Michael Gough
                                </p>
                                <p class="text-sm text-gray-600 dark:text-gray-400">
                                    <time pubdate datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2022</time>
                                </p>
                            </div>
                            <button id="dropdownComment1Button"
                                    data-dropdown-toggle="dropdownComment1"
                                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                    type="button">
                                <svg class="w-5 h-5"
                                     aria-hidden="true"
                                     fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
                                </svg>
                                <span class="sr-only">Comment settings</span>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownComment1"
                                 class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownMenuIconHorizontalButton">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                        <p>
                            Very straight-to-point article. Really worth time reading. Thank you! But tools are just the
                            instruments for the UX designers. The knowledge of the design tools are as important as the
                            creation of the design strategy.
                        </p>
                        <div class="flex items-center mt-4 space-x-4">
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                                <svg aria-hidden="true"
                                     class="mr-1 w-4 h-4"
                                     fill="none"
                                     stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                    </path>
                                </svg>
                                Reply
                            </button>
                        </div>
                    </article>
                    <article class="p-6 mb-6 ml-6 lg:ml-12 text-base bg-white rounded-lg dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                    <img class="mr-2 w-6 h-6 rounded-full"
                                         src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
                                         alt="Jese Leos">
                                    Jese Leos
                                </p>
                                <p class="text-sm text-gray-600 dark:text-gray-400">
                                    <time pubdate datetime="2022-02-12" title="February 12th, 2022">Feb. 12, 2022</time>
                                </p>
                            </div>
                            <button id="dropdownComment2Button"
                                    data-dropdown-toggle="dropdownComment2"
                                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                    type="button">
                                <svg class="w-5 h-5"
                                     aria-hidden="true"
                                     fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                                    </path>
                                </svg>
                                <span class="sr-only">Comment settings</span>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownComment2"
                                 class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownMenuIconHorizontalButton">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                        <p>
                            Much appreciated! Glad you liked it ☺️
                        </p>
                        <div class="flex items-center mt-4 space-x-4">
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                                <svg aria-hidden="true"
                                     class="mr-1 w-4 h-4"
                                     fill="none"
                                     stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                    </path>
                                </svg>
                                Reply
                            </button>
                        </div>
                    </article>
                    <article class="p-6 mb-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                    <img class="mr-2 w-6 h-6 rounded-full"
                                         src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
                                         alt="Bonnie Green">
                                    Bonnie Green
                                </p>
                                <p class="text-sm text-gray-600 dark:text-gray-400">
                                    <time pubdate datetime="2022-03-12" title="March 12th, 2022">Mar. 12, 2022</time>
                                </p>
                            </div>
                            <button id="dropdownComment3Button"
                                    data-dropdown-toggle="dropdownComment3"
                                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                    type="button">
                                <svg class="w-5 h-5"
                                     aria-hidden="true"
                                     fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                                    </path>
                                </svg>
                                <span class="sr-only">Comment settings</span>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownComment3"
                                 class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownMenuIconHorizontalButton">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                        <p>
                            The article covers the essentials, challenges, myths and stages the UX designer should consider while creating the design strategy.
                        </p>
                        <div class="flex items-center mt-4 space-x-4">
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                                <svg aria-hidden="true"
                                     class="mr-1 w-4 h-4"
                                     fill="none"
                                     stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                    </path>
                                </svg>
                                Reply
                            </button>
                        </div>
                    </article>
                    <article class="p-6 text-base bg-white border-t border-gray-200 dark:border-gray-700 dark:bg-gray-900">
                        <footer class="flex justify-between items-center mb-2">
                            <div class="flex items-center">
                                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                                    <img class="mr-2 w-6 h-6 rounded-full"
                                         src="https://flowbite.com/docs/images/people/profile-picture-4.jpg"
                                         alt="Helene Engels">
                                    Helene Engels
                                </p>
                                <p class="text-sm text-gray-600 dark:text-gray-400">
                                    <time pubdate datetime="2022-06-23" title="June 23rd, 2022">Jun. 23, 2022</time>
                                </p>
                            </div>
                            <button id="dropdownComment4Button"
                                    data-dropdown-toggle="dropdownComment4"
                                    class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-400 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 dark:bg-gray-900 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                                    type="button">
                                <svg class="w-5 h-5"
                                     aria-hidden="true"
                                     fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z">
                                    </path>
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div id="dropdownComment4"
                                 class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownMenuIconHorizontalButton">
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Remove</a>
                                    </li>
                                    <li>
                                        <a href="#"
                                           class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Report</a>
                                    </li>
                                </ul>
                            </div>
                        </footer>
                        <p>
                            Thanks for sharing this. I do came from the Backend development and explored some of the tools to design my Side Projects.
                        </p>
                        <div class="flex items-center mt-4 space-x-4">
                            <button type="button"
                                    class="flex items-center text-sm text-gray-500 hover:underline dark:text-gray-400">
                                <svg aria-hidden="true"
                                     class="mr-1 w-4 h-4"
                                     fill="none"
                                     stroke="currentColor"
                                     viewBox="0 0 24 24"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z">
                                    </path>
                                </svg>
                                Reply
                            </button>
                        </div>
                    </article>
                </section>
            </div>
        </main>
    </body>
    comments section
{% endblock content %}
