{% extends "base.html" %}
{% block content %}
    <body>
        <main class="container mx-auto my-6">
            <div class="bg-white p-6 shadow-md">
                <h2 class="text-xl font-bold text-gray-800 mb-4">Project Description / Our Mission</h2>
                <p class="text-gray-700 leading-loose">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat, augue id fringilla imperdiet, neque tortor tristique ipsum, in ultricies libero nisl in metus. Integer consequat feugiat neque id aliquet. Nunc euismod mi non ante bibendum varius. Aliquam accumsan nulla augue, nec malesuada est hendrerit ac. Sed vitae libero sit amet sapien pharetra ultricies. Nulla facilisi. In aliquam mauris vel lectus dignissim, a dapibus elit bibendum. Etiam eu ante lacinia, lobortis eros in, ullamcorper mi. Vivamus euismod quam ac odio faucibus, quis commodo nulla vestibulum. Nullam vulputate tortor et nisl bibendum, sit amet fermentum elit auctor. Nunc id ante in magna euismod commodo.
                </p>
            </div>
            <!-- component -->
            <div class="p-8">
                <div class="bg-white p-4 rounded-lg shadow-xl py-8 mt-12">
                    <h4 class="text-4xl font-bold text-gray-800 tracking-widest uppercase text-center">FAQ</h4>
                    <p class="text-center text-gray-600 text-sm mt-2">Here are some of the frequently asked questions</p>
                    <div class="space-y-12 px-2 xl:px-16 mt-12">
                        <div class="mt-4 flex">
                            <div>
                                <div class="flex items-center h-16 border-l-4 border-blue-500">
                                    <span class="text-4xl text-blue-500 px-4">Q.</span>
                                </div>
                                <div class="flex items-center h-16 border-l-4 border-gray-400">
                                    <span class="text-4xl text-gray-400 px-4">A.</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center h-16">
                                    <span class="text-lg text-blue-500 font-bold">Lorem ipsum dolor sit amet?</span>
                                </div>
                                <div class="flex items-center py-2">
                                    <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 flex">
                            <div>
                                <div class="flex items-center h-16 border-l-4 border-blue-500">
                                    <span class="text-4xl text-blue-500 px-4">Q.</span>
                                </div>
                                <div class="flex items-center h-16 border-l-4 border-gray-400">
                                    <span class="text-4xl text-gray-400 px-4">A.</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center h-16">
                                    <span class="text-lg text-blue-500 font-bold">Consectetur adipisicing elit?</span>
                                </div>
                                <div class="flex items-center py-2">
                                    <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 flex">
                            <div>
                                <div class="flex items-center h-16 border-l-4 border-blue-500">
                                    <span class="text-4xl text-blue-500 px-4">Q.</span>
                                </div>
                                <div class="flex items-center h-16 border-l-4 border-gray-400">
                                    <span class="text-4xl text-gray-400 px-4">A.</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center h-16">
                                    <span class="text-lg text-blue-500 font-bold">Neque eos, dignissimos provident reiciendis debitis?</span>
                                </div>
                                <div class="flex items-center py-2">
                                    <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 flex">
                            <div>
                                <div class="flex items-center h-16 border-l-4 border-blue-500">
                                    <span class="text-4xl text-blue-500 px-4">Q.</span>
                                </div>
                                <div class="flex items-center h-16 border-l-4 border-gray-400">
                                    <span class="text-4xl text-gray-400 px-4">A.</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center h-16">
                                    <span class="text-lg text-blue-500 font-bold">Repudiandae commodi perferendis et itaque?</span>
                                </div>
                                <div class="flex items-center py-2">
                                    <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 flex">
                            <div>
                                <div class="flex items-center h-16 border-l-4 border-blue-500">
                                    <span class="text-4xl text-blue-500 px-4">Q.</span>
                                </div>
                                <div class="flex items-center h-16 border-l-4 border-gray-400">
                                    <span class="text-4xl text-gray-400 px-4">A.</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center h-16">
                                    <span class="text-lg text-blue-500 font-bold">Similique fugiat cumque?</span>
                                </div>
                                <div class="flex items-center py-2">
                                    <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 flex">
                            <div>
                                <div class="flex items-center h-16 border-l-4 border-blue-500">
                                    <span class="text-4xl text-blue-500 px-4">Q.</span>
                                </div>
                                <div class="flex items-center h-16 border-l-4 border-gray-400">
                                    <span class="text-4xl text-gray-400 px-4">A.</span>
                                </div>
                            </div>
                            <div>
                                <div class="flex items-center h-16">
                                    <span class="text-lg text-blue-500 font-bold">Impedit iusto vitae dolorum, nostrum fugit?</span>
                                </div>
                                <div class="flex items-center py-2">
                                    <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white p-6 shadow-md mt-10">
                <!-- FORM -->
                <div class="container mx-auto px-4 py-10">
                    <h1 class="text-3xl font-bold mb-4">
                        Contact Us
                    </h1>
                    <p class="text-gray-700 leading-loose mt-10 mb-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat, augue id fringilla imperdiet, neque tortor tristique ipsum, in ultricies libero nisl in metus. Integer consequat feugiat neque id aliquet. Nunc euismod mi non ante bibendum varius. Aliquam accumsan nulla augue, nec malesuada est hendrerit ac. Sed vitae libero sit amet sapien pharetra ultricies. Nulla facilisi. In aliquam mauris vel lectus dignissim, a dapibus elit bibendum. Etiam eu ante lacinia, lobortis eros in, ullamcorper mi. Vivamus euismod quam ac odio faucibus, quis commodo nulla vestibulum. Nullam vulputate tortor et nisl bibendum, sit amet fermentum elit auctor. Nunc id ante in magna euismod commodo.
                    </p>
                    <div class="bg-white rounded-lg shadow-lg p-8">
                        <form action="#" method="POST">
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2" for="email">
                                    Email
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                       id="email"
                                       type="email"
                                       placeholder="Email"
                                       required>
                            </div>
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2" for="messagebody">
                                    Message
                                </label>
                                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                          id="messagebody"
                                          rows="6"
                                          placeholder="Enter your message here"
                                          required></textarea>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                        type="submit">
                                    Send
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END FORM -->
            </div>
        </main>
    </body>
{% endblock content %}
