<main class="container mx-auto my-6">
    <div class="bg-white p-6 shadow-md">
        <h2 class="text-xl font-bold text-gray-800 mb-4">Project Description / Our Mission</h2>
        <p class="text-gray-700 leading-loose">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat, augue id fringilla imperdiet, neque tortor tristique ipsum, in ultricies libero nisl in metus. Integer consequat feugiat neque id aliquet. Nunc euismod mi non ante bibendum varius. Aliquam accumsan nulla augue, nec malesuada est hendrerit ac. Sed vitae libero sit amet sapien pharetra ultricies. Nulla facilisi. In aliquam mauris vel lectus dignissim, a dapibus elit bibendum. Etiam eu ante lacinia, lobortis eros in, ullamcorper mi. Vivamus euismod quam ac odio faucibus, quis commodo nulla vestibulum. Nullam vulputate tortor et nisl bibendum, sit amet fermentum elit auctor. Nunc id ante in magna euismod commodo.
        </p>
    </div>
</main>
