{% extends "base.html" %}
{% block content %}
    <body class="bg-gray-100">
        {% comment %} <header class="bg-white shadow-sm">
        <div class="container mx-auto py-4 px-8">
            <a href="#" class="text-gray-700 font-bold text-lg">Learn React</a>
            <nav class="inline-block ml-4">
                <a href="#" class="text-gray-600 hover:text-gray-800 font-bold mx-3">Home</a>
                <a href="#" class="text-gray-600 hover:text-gray-800 font-bold mx-3">Modules</a>
                <a href="#" class="text-gray-600 hover:text-gray-800 font-bold mx-3">About</a>
            </nav>
        </div>
        </header> {% endcomment %}
        <main class="container mx-auto py-8 px-8">
            <section class="mb-8">
                <div class="bg-white rounded-lg shadow-lg p-8">
                    <h2 class="text-2xl font-bold mb-4">Welcome to "{{ course.title }}" course</h2>
                    <div class="text-lg mb-6">{{ course.description|safe }}</div>
                    {% if request.user in course.members.all and course.sections.all.count > 0 %}
                        <a href="{% url 'courses:course-section-detail' course.pk course.sections.first.slug %}"
                           class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 mt-6 mr-2">Continue studying</a>
                    {% endif %}
                    <a href="{% url 'courses:courses-members' course.pk %}"
                       class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 mt-6 mr-2">Show Members</a>
                    {% if request.user not in course.members.all and request.user != course.owner %}
                        <a href="{% url 'courses:course-enroll' course.pk %}"
                           class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 mt-6">Enroll Now</a>
                    {% endif %}
                    {% comment %} {% if request.user in course.members.all and request.user != course.owner %}
                        <a href="{% url 'courses:course-leave' course.pk %}" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 mt-6">Leave course</a>
                    {% endif %} {% endcomment %}
                </div>
            </section>
            <div class="py-12 pb-4 bg-white">
                <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                    <h2 class="text-3xl font-extrabold text-gray-900">What You'll Learn</h2>
                    <p class="mt-4 text-lg text-gray-500">By the end of this course, you'll be able to:</p>
                    {% comment %} by two start I WANT TO SORT THEM BY LENGHT OF THE TEXT OR MAYBE I SHOULD GIVE THIS OPPORTUNITY (switcher) TO USER?{% endcomment %}
                    <section class="py-16">
                        <div class="container mx-auto px-4">
                            <div class="flex flex-wrap">
                                <div class="w-full lg:w-1/2 mb-12 lg:mb-0 pr-4">
                                    {% comment %} <h2 class="text-3xl font-bold mb-6">What You'll Learn</h2> {% endcomment %}
                                    <ul class="list-disc pl-6">
                                        <div class='mb-10'>
                                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                                <svg class='inline'
                                                     viewBox="0 0 24 24"
                                                     width='32px'
                                                     height='32px'
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     fill="#000000">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                                                    </g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                                    </g>
                                                    <g id="SVGRepo_iconCarrier">
                                                    <defs>
                                                    <path id="check-a" d="M4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L1.90917969,5.46118164 C1.5186554,5.85170593 0.885490417,5.85170593 0.494966125,5.46118164 C0.104441833,5.07065735 0.104441833,4.43749237 0.494966125,4.04696808 L4.29289322,0.292893219 Z">
                                                    </path>
                                                    <path id="check-c" d="M10.7071068,13.2928932 C11.0976311,13.6834175 11.0976311,14.3165825 10.7071068,14.7071068 C10.3165825,15.0976311 9.68341751,15.0976311 9.29289322,14.7071068 L0.292893219,5.70710678 C-0.0976310729,5.31658249 -0.0976310729,4.68341751 0.292893219,4.29289322 L4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L2.41421356,5 L10.7071068,13.2928932 Z">
                                                    </path>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd" transform="rotate(-90 11 7)">
                                                    <g transform="translate(1 1)">
                                                    <mask id="check-b" fill="#ffffff"> <use xlink:href="#check-a"></use> </mask> <use fill="#D8D8D8" fill-rule="nonzero" xlink:href="#check-a"></use>
                                                    <g fill="#f2eb31" mask="url(#check-b)">
                                                    <rect width="24" height="24" transform="translate(-7 -5)"></rect>
                                                    </g>
                                                    </g>
                                                    <mask id="check-d" fill="#ffffff"> <use xlink:href="#check-c"></use> </mask> <use fill="#000000" fill-rule="nonzero" xlink:href="#check-c"></use>
                                                    <g fill="#009dff" mask="url(#check-d)">
                                                    <rect width="24" height="24" transform="translate(-6 -4)"></rect>
                                                    </g>
                                                    </g>
                                                    </g>
                                                </svg>
                                                Understand Python programming concepts
                                            </dt>
                                            <dd class="mt-2 text-base text-gray-500">
                                                You'll learn the basics of programming using Python and gain a solid understanding of programming concepts such as variables, data types, and control structures.
                                            </dd>
                                        </div>
                                        <div class='mb-10'>
                                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                                <svg class='inline'
                                                     viewBox="0 0 24 24"
                                                     width='32px'
                                                     height='32px'
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     fill="#000000">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                                                    </g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                                    </g>
                                                    <g id="SVGRepo_iconCarrier">
                                                    <defs>
                                                    <path id="check-a" d="M4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L1.90917969,5.46118164 C1.5186554,5.85170593 0.885490417,5.85170593 0.494966125,5.46118164 C0.104441833,5.07065735 0.104441833,4.43749237 0.494966125,4.04696808 L4.29289322,0.292893219 Z">
                                                    </path>
                                                    <path id="check-c" d="M10.7071068,13.2928932 C11.0976311,13.6834175 11.0976311,14.3165825 10.7071068,14.7071068 C10.3165825,15.0976311 9.68341751,15.0976311 9.29289322,14.7071068 L0.292893219,5.70710678 C-0.0976310729,5.31658249 -0.0976310729,4.68341751 0.292893219,4.29289322 L4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L2.41421356,5 L10.7071068,13.2928932 Z">
                                                    </path>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd" transform="rotate(-90 11 7)">
                                                    <g transform="translate(1 1)">
                                                    <mask id="check-b" fill="#ffffff"> <use xlink:href="#check-a"></use> </mask> <use fill="#D8D8D8" fill-rule="nonzero" xlink:href="#check-a"></use>
                                                    <g fill="#f2eb31" mask="url(#check-b)">
                                                    <rect width="24" height="24" transform="translate(-7 -5)"></rect>
                                                    </g>
                                                    </g>
                                                    <mask id="check-d" fill="#ffffff"> <use xlink:href="#check-c"></use> </mask> <use fill="#000000" fill-rule="nonzero" xlink:href="#check-c"></use>
                                                    <g fill="#009dff" mask="url(#check-d)">
                                                    <rect width="24" height="24" transform="translate(-6 -4)"></rect>
                                                    </g>
                                                    </g>
                                                    </g>
                                                </svg>
                                                Work with data in Python
                                            </dt>
                                            <dd class="mt-2 text-base text-gray-500">
                                                You'll learn how to work with various data types in Python, including strings, lists, and dictionaries. You'll also learn how to read and write data to files, and how to work with CSV and JSON files in Python.
                                            </dd>
                                        </div>
                                    </ul>
                                </div>
                                <div class="w-full lg:w-1/2">
                                    {% comment %} <h2 class="text-3xl font-bold mb-6">Skills You'll Gain</h2> {% endcomment %}
                                    <ul class="list-disc pl-6">
                                        <div class='mb-10'>
                                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                                <svg class='inline'
                                                     viewBox="0 0 24 24"
                                                     width='32px'
                                                     height='32px'
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     fill="#000000">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                                                    </g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                                    </g>
                                                    <g id="SVGRepo_iconCarrier">
                                                    <defs>
                                                    <path id="check-a" d="M4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L1.90917969,5.46118164 C1.5186554,5.85170593 0.885490417,5.85170593 0.494966125,5.46118164 C0.104441833,5.07065735 0.104441833,4.43749237 0.494966125,4.04696808 L4.29289322,0.292893219 Z">
                                                    </path>
                                                    <path id="check-c" d="M10.7071068,13.2928932 C11.0976311,13.6834175 11.0976311,14.3165825 10.7071068,14.7071068 C10.3165825,15.0976311 9.68341751,15.0976311 9.29289322,14.7071068 L0.292893219,5.70710678 C-0.0976310729,5.31658249 -0.0976310729,4.68341751 0.292893219,4.29289322 L4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L2.41421356,5 L10.7071068,13.2928932 Z">
                                                    </path>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd" transform="rotate(-90 11 7)">
                                                    <g transform="translate(1 1)">
                                                    <mask id="check-b" fill="#ffffff"> <use xlink:href="#check-a"></use> </mask> <use fill="#D8D8D8" fill-rule="nonzero" xlink:href="#check-a"></use>
                                                    <g fill="#f2eb31" mask="url(#check-b)">
                                                    <rect width="24" height="24" transform="translate(-7 -5)"></rect>
                                                    </g>
                                                    </g>
                                                    <mask id="check-d" fill="#ffffff"> <use xlink:href="#check-c"></use> </mask> <use fill="#000000" fill-rule="nonzero" xlink:href="#check-c"></use>
                                                    <g fill="#009dff" mask="url(#check-d)">
                                                    <rect width="24" height="24" transform="translate(-6 -4)"></rect>
                                                    </g>
                                                    </g>
                                                    </g>
                                                </svg>
                                                Build projects with Python
                                            </dt>
                                            <dd class="mt-2 text-base text-gray-500">
                                                You'll work on various projects throughout the course, including a text-based game, a data analysis project, and a web scraping project. The concepts you've learned and build.
                                            </dd>
                                        </div>
                                        <div class='mb-10'>
                                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                                <svg class='inline'
                                                     viewBox="0 0 24 24"
                                                     width='32px'
                                                     height='32px'
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     fill="#000000">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                                                    </g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                                    </g>
                                                    <g id="SVGRepo_iconCarrier">
                                                    <defs>
                                                    <path id="check-a" d="M4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L1.90917969,5.46118164 C1.5186554,5.85170593 0.885490417,5.85170593 0.494966125,5.46118164 C0.104441833,5.07065735 0.104441833,4.43749237 0.494966125,4.04696808 L4.29289322,0.292893219 Z">
                                                    </path>
                                                    <path id="check-c" d="M10.7071068,13.2928932 C11.0976311,13.6834175 11.0976311,14.3165825 10.7071068,14.7071068 C10.3165825,15.0976311 9.68341751,15.0976311 9.29289322,14.7071068 L0.292893219,5.70710678 C-0.0976310729,5.31658249 -0.0976310729,4.68341751 0.292893219,4.29289322 L4.29289322,0.292893219 C4.68341751,-0.0976310729 5.31658249,-0.0976310729 5.70710678,0.292893219 C6.09763107,0.683417511 6.09763107,1.31658249 5.70710678,1.70710678 L2.41421356,5 L10.7071068,13.2928932 Z">
                                                    </path>
                                                    </defs>
                                                    <g fill="none" fill-rule="evenodd" transform="rotate(-90 11 7)">
                                                    <g transform="translate(1 1)">
                                                    <mask id="check-b" fill="#ffffff"> <use xlink:href="#check-a"></use> </mask> <use fill="#D8D8D8" fill-rule="nonzero" xlink:href="#check-a"></use>
                                                    <g fill="#f2eb31" mask="url(#check-b)">
                                                    <rect width="24" height="24" transform="translate(-7 -5)"></rect>
                                                    </g>
                                                    </g>
                                                    <mask id="check-d" fill="#ffffff"> <use xlink:href="#check-c"></use> </mask> <use fill="#000000" fill-rule="nonzero" xlink:href="#check-c"></use>
                                                    <g fill="#009dff" mask="url(#check-d)">
                                                    <rect width="24" height="24" transform="translate(-6 -4)"></rect>
                                                    </g>
                                                    </g>
                                                    </g>
                                                </svg>
                                                Write Python programs
                                            </dt>
                                            <dd class="mt-2 text-base text-gray-500">
                                                You'll learn how to write Python programs from scratch, using various programming concepts and techniques. By the end of the course, you'll be able to create Python programs that solve real-world problems.
                                            </dd>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    {% comment %} by 2 end {% endcomment %}
                </div>
            </div>
            <section class="mb-8">
                <div class="bg-gray-100 py-12">
                    <div class="max-w-screen-lg mx-auto">
                        <h2 class="text-3xl font-bold text-center mb-8">Curriculum</h2>
                        <ul class="space-y-4">
                            <!-- Section elemnt -->
                            {% for section in course.sections.all %}
                                <li class="bg-white rounded-lg shadow-md p-6">
                                    <h3 class="text-2xl font-bold text-blue-500">{{ section.title }}</h3>
                                    <div class='capitalize inline'>
                                        {% if section.tasks.all.count > 1 %}
                                            <div class="text-gray-500 text-sm font-medium mt-2">{{ section.tasks.all.count }} lessons</div>
                                        {% elif section.tasks.all.count == 0 %}
                                            <div class="text-gray-500 text-sm font-medium mt-2">No lessons in this section</div>
                                        {% else %}
                                            <div class="text-gray-500 text-sm font-medium mt-2">
                                                {{ section.tasks.all.count }} lesson
                                            </div>
                                        {% endif %}
                                    </div>
                                    <button type="button"
                                            class="flex items-center justify-between w-full focus:outline-none mt-2">
                                        <svg class="w-4 h-4 transform {% if forloop.counter0 == 0 %} rotate-90 {% else %} rotate-0 {% endif %} transition-transform duration-20"
                                             viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M9.41 7.41L10.83 6L16.83 12L10.83 18L9.41 16.59L13.83 12L9.41 7.41Z" />
                                        </svg>
                                    </button>
                                    <ul class="pl-6 pt-4 {% if forloop.counter0 == 0 %} block {% else %} hidden {% endif %} divide-y divide-blue-200">
                                        {% for task in section.tasks.all %}
                                            <div class=''>
                                                {% comment %} <svg class='display: inline-block mr-2' width="30" height="30" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000">
                                                    <path fill-rule="evenodd" d="M8.6,4.99999 L8.6,12.6 L1.4,12.6 L1.4,1.4 L5,1.4 L5,4.99999 L8.6,4.99999 Z M7.6201,3.59999 L6.4,2.3799 L6.4,3.59999 L7.6201,3.59999 Z M10,4 L6,0 L0,0 L0,14 L10,14 L10,4 Z M2.79688,7 L7.2,7 L7.2,8.4 L2.79688,8.4 L2.79688,7 Z M7.2,9.8 L2.79688,9.8 L2.79688,11.2 L7.2,11.2 L7.2,9.8 Z" transform="translate(3 1)"/>
                                                </svg> {% endcomment %}
                                                <svg class='display: inline-block mr-2'
                                                     width="25"
                                                     height="25"
                                                     viewBox="0 0 24.00 24.00"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     fill="#4299e1"
                                                     stroke="#4299e1"
                                                     stroke-width="0.00024000000000000003">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0">
                                                    </g>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                                    </g>
                                                    <g id="SVGRepo_iconCarrier">
                                                    <path d="M18 6H7V5h11zm0 2H7v1h11zm0 3H7v1h11zm-4 4h4v-1h-4zm0 3h3v-1h-3zm-2 2H7v-6h5zm-1-5H8v4h3zm10 8H4V2h17zM20 3H5v19h15z">
                                                    </path>
                                                    <path fill="none" d="M0 0h24v24H0z">
                                                    </path>
                                                    </g>
                                                </svg>
                                                <a href="{% url 'courses:course-task-detail' section.id task.slug %}"><span class="mb-2 text-lg font-semibold text-gray-700 hover:text-blue-500 dark:text-white">{{ task.title }}</span></a>
                                            </div>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <script>
                        const buttons = document.querySelectorAll('button');
                        buttons.forEach(button => {
                            button.addEventListener('click', () => {
                            const icon = button.querySelector('svg');
                            const sublist = button.nextElementSibling;
                            icon.classList.toggle('rotate-90');
                            sublist.classList.toggle('hidden');
                            });
                        });
                </script>
                {% comment %}
                {% if course.sections.all.count > 0 %}
                    <h2 class="text-2xl font-bold mb-4">Course Content</h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
                        {% for section in course.sections.all %}
                            <a href="{% url 'courses:course-section-detail' course.id section.slug %}">
                                <div class="bg-white rounded-lg shadow-lg p-8">
                                    <h3 class="text-lg font-bold mb-4">{{ section.title }}</h3>
                                    <ul class="list-disc ml-6">
                                        {% for task in section.tasks.all %}
                                            {% if forloop.counter0 >= 3 %}
                                            {% else %}
                                                <li>{{ task }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2 class="text-2xl font-bold mb-4">There's no any content yet</h2>
                {% endif %} {% endcomment %}
            </section>
            <section>
                <h2 class="text-2xl font-bold mb-4">
                    Course Details
                </h2>
                <div class="bg-white rounded-lg shadow-lg p-8">
                    <dl>
                        <a href="#">
                            <div class="mb-4">
                                <dt class="text-lg font-bold">
                                    Instructor:
                                </dt>
                                <dd class="text-gray-700 hover:text-blue-500">
                                    {{ course.owner }}
                                </dd>
                            </div>
                        </a>
                        <div class="mb-4">
                            <dt class="text-lg font-bold">
                                Duration:
                            </dt>
                            <dd class="text-gray-700">
                                12 weeks
                            </dd>
                        </div>
                        <a href="{% url 'courses:courses-members' course.pk %}">
                            <div class="mb-4">
                                <dt class="text-lg font-bold">
                                    Members:
                                </dt>
                                <dd class="text-gray-700 hover:text-blue-500">
                                    {{ course.members.all.count }}
                                </dd>
                            </div>
                        </a>
                        <div class="mb-4">
                            <dt class="text-lg font-bold">
                                Course created date:
                            </dt>
                            <dd class="text-gray-700">
                                {{ course.created_date|date:"SHORT_DATE_FORMAT" }}
                            </dd>
                        </div>
                        <div class="mb-4">
                            <dt class="text-lg font-bold">
                                Course updated date:
                            </dt>
                            <dd class="text-gray-700">
                                {{ course.updated_date|date:"SHORT_DATE_FORMAT" }}
                            </dd>
                        </div>
                    </dl>
                    <br>
                    {% if request.user not in course.members.all and request.user != course.owner %}
                        <a href="{% url 'courses:course-enroll' course.pk %}"
                           class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 capitalize">Enroll now</a>
                    {% endif %}
                    {% if request.user in course.members.all and request.user != course.owner %}
                        <a href="{% url 'courses:course-leave' course.pk %}"
                           class="bg-red-500 text-white py-2 px-4 rounded hover:bg-gray-900 transition-colors duration-300 capitalize">Leave course</a>
                    {% endif %}
                    {% if request.user == course.owner %}
                        <a href="{% url 'courses:course-leave' course.pk %}"
                           class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition-colors duration-300 mr-2 capitalize">Update course</a>
                    {% endif %}
                    {% if request.user == course.owner %}
                        <a href="#"
                           class="bg-red-500 text-white py-2 px-4 rounded hover:bg-gray-900 transition-colors duration-300 mt-6 mr-2 capitalize">Delete course</a>
                    {% endif %}
                </div>
            </section>
        </main>
    </body>
{% endblock content %}
